<!DOCTYPE html>

<html>
  <head>
    <title>Request Header Parser</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body class="flex">
    <header class="titles">
      <h1>Request Header Parser Microservice</h1>
      <p>
        This is an API that return IP address, the language that the user has
        set in his browser and the type of software the user is currently on.
      </p>
      <hr />
    </header>
    <div class="container flex">
      <h2>Example Usage</h2>
      <code>[your_url]/api/whoami</code>
      <h2>Example Output</h2>
      <code
        >{ 
  "ipaddress": "::ffff:159.20.14.100",
  "language": "en-US,en;q=0.5",
  "software": "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"
}</code
      >
    </div>
    <div class="footer">
      <p>
        Created by
        <a
          href="https://github.com/odakris?tab=repositories"
          target="_blank"
          rel="noreferrer noopener"
          >odakris</a
        >
      </p>
    </div>
  </body>
</html>
